---

---

    <h1>simple omelette recipe</h1>
    <p>
      An easy and quick dish, perfect for any meal. This classic omelette combines
      beaten eggs cooked to perfection, optionally filled with your choice of
      cheese, vegetables, or meats
    </p>

    <section class="preparation-time">
      <h3>Preparation time</h3>
      <ul>
        <li>
          <span>Total</span>
          <span style="color: hsl(30, 10%, 34%); font-weight: 400">
            : Approximately 10 minutes</span
          >
        </li>
        <li class="preps">
          <span>Preparation</span>
          <span style="color: hsl(30, 10%, 34%); font-weight: 400">
            : 5 minutes</span
          >
        </li>
        <li>
          <span>Cooking</span>
          <span style="color: hsl(30, 10%, 34%); font-weight: 400">
            : 5 minutes</span
          >
        </li>
      </ul>
    </section>
